fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
alembic
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
apscheduler
httpx
pytest
pytest-asyncio
aiosqlite
greenlet>=3.0.0
psycopg2-binary
bcrypt==4.0.1
